datasets/
figs/
batches/
backup/
out/
*.pt
*.png
*.pyc
*.pdf
__pycache__
*.pt
*.pkl
datasets*
slurm_logs*
wandb/
*.sh

archive
results
context_results
models
visualizations
plots
aawr_test_results
maze_debug_videos
maze_dumps
maze.npy
launch.json
slurm-*.*
!run_alpha_sweep.sh
